# Optional settings

# If you need a Hugging Face token for private datasets, add it here.
# HF_TOKEN=your_token_here

# FiftyOne app settings
FIFTYONE_DEFAULT_APP_ADDRESS=0.0.0.0
FIFTYONE_DEFAULT_APP_PORT=5151